<h1>Book Details</h2>
<p>
	Title:<br>
	<%= @book.title %>
</p>
<p>
	Author:<br>
	<%= @book.author %>
</p>
<p>
	ISBN:<br>
	<%= @book.isbn %>
</p>
<p>
	Publisher:</br>
	<%= @book.publisher %>
</p>
<p> 
	Description:</br>
	<%= @book.description %>
</p>